/* RESET RULES */
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

button {
  border: none;
}

button:focus {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/* END RESET RULES */

/* BASE RULES */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
body {
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100%;
  background: #fff;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

-moz-::selection {
  background-color: #000;
  color: #fff;
}

::selection {
  background-color: #000;
  color: #fff;
}
/* END BASE RULES */
